<h1>New company</h1>

<form id="new-company" name="company">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="gift_card_template"> gift_card_template:</label>
    <input type="text" name="gift_card_template" id="gift_card_template" value="<%= gift_card_template %>" >
  </div>

  <div class="field">
    <label for="code"> code:</label>
    <input type="text" name="code" id="code" value="<%= code %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Company" />
  </div>

</form>

<a href="#/index">Back</a>