<h1>Listing gift_cards</h1>

<table id="gift_cards-table">
  <tr>
    <th>Value</th>
    <th>User</th>
    <th>Number,</th>
    <th>Code</th>
    <th>String,</th>
    <th>State</th>
    <th>String,</th>
    <th>Company</th>
    <th>Number,</th>
    <th>Expiration days</th>
    <th>Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Gift card</a>